
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.burger{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.close{
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding: 15px;
}
.logo{
    width: 60px;
}

.logo img{
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    list-style: none;
}

.nav-links li{
    color: white;
}

.mav-links li:hover{
    background-color: #555;
    padding: 10px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
}




#welcome{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    gap: 20px;
    margin-top: 20px;
}

.intro{
    width: 50px;
}

.intro h1{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: green;
}

.caption{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 20px;
}

.more-info{
    font-size: 40px;
    padding: 0 20px;
    
}

.explore{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin: 20px;

}

.explore button{
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

.explore button:hover{
    background-color: green;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 8px, 20px;
    background-color: #ccc;
    text-align: center;
}

.social-media a:hover{
    background-color: green;
    color: white;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-image img{
    width: 80%;
}




/*media query for responsiveness*/
@media screen and (max-width: 1024px){
    .burger{
        display: block;
    }

    .logo{
        display: none;
    }

    .nave-links{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 10px;
        padding-right: 20px;
    }
    .nave-links.show{
        display: flex;

    }
    

    #welcome{
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .intro{
        width: 100%;
        padding: 0 20px;
    }
    .hero-image{
            width: 100%;
            padding: 0 20px;
    }
    .intro h1{
        font-size: 30px;
    }   
}


@media screen and (max-width: 768px){
    .intro h1{
        font-size: 25px;
    }
    .caption{
        font-size: 20px;
    }
    .more-info{
        font-size: 18px;
    }
    .explore button{
        font-size: 20px;
        padding: 6px 16px;
    }
    .social-media a{
        font-size: 20px;
        padding: 6px 16px;
    }
    
}

